.input_heading {
  @apply font-medium text-sm leading-6 mb-2.5;
  color: var(--fontcolor)
}
.input {
  @apply px-5 py-0 rounded-2xl w-full pl-12 h-[54px] border-[none] mb-[20px] font-normal text-sm leading-[18px] text-[#84849A];
  background: #f1f3f6;
  outline: none;
}

.input_error {
  color: #000;
}

.input_customicon {
  @apply absolute left-4 top-[18px];
}

.input_error {
  @apply border rounded-2xl border-solid border-[#F53D6B];
  background: rgba(245, 61, 107, 0.07);
}

.input_errormessage label {
  @apply font-normal text-xs leading-[18px] text-[#F53D6B];
}

.input_errormessage {
  @apply -mt-5 mb-2;
}

.input_subheading{
    @apply font-medium text-sm leading-6 mb-2.5;
  color: #84849A;
}
.input_required{
  color: #F53D6B;
}