.chekoutpage {
   @apply mt-[30px];

   h1 {
      @apply font-bold text-4xl leading-[46px];
      color: var(--fontcolor);
   }
}

.chekoutpageinneractive {
   @apply flex items-center;

   span {
      @apply text-sm text-white font-bold mr-2.5 rounded-[50%] w-[25px] h-[25px] text-center flex items-center justify-center;
      background-color: var(--fontcolor);
   }

   h3 {
      color: var(--fontcolor);
      @apply font-medium text-base leading-6;
   }
}

.chekoutpageinner {
   @apply flex items-center;

   span {
      @apply text-sm font-bold mr-2.5 rounded-[50%] w-[25px] h-[25px] text-center flex items-center justify-center text-[#ABADB7];
      border: 1px solid #C2C4CD;
   }

   h3 {
      color: var(--fontsecondary);
      @apply font-medium text-base leading-6;
   }
}

.chekoutsteps {
   @apply flex items-center gap-[20px] mt-[30px];

   h1 {
      @apply font-bold text-4xl leading-[46px];
      color: var(--fontcolor);
   }
}

.chekoutstepsarrow {
   @apply ml-5;
   height: 1px;
   width: 20px;
   background: #D6D8EA;
}